/* main container */


.chart-module{
  padding:0;
  display: flex;
  margin: 5%;
  margin-left: 4%;
  box-sizing: border-box;
  border-radius: 10px;
  height: 82vh;
  border: 3px solid white
  /* align-items:center; */
}
.container{

  box-sizing: border-box;
  width: 60vw;
  height: 80vh;
  border-radius: 25px;

}

#chartContainer{
  height: 100%;
}
/* chart tabs */
#chartTabs{
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  height: 81vh;
  overflow-y: scroll;
  /* display:none; */
  list-style: none;
  width: 10vw;
  /* border-left: 3px solid white; */
  padding: 0;
  background-color: rgb(42, 51, 47);

  border-radius: 5px;
}

.chart-tabs-container{
  padding: 1px;
}

#chartTabs li{
  text-align: center;
  background-color: rgb(63, 77, 70);
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 7vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  text-decoration: underline;
  padding: 5%;
  border-radius: 5px;
}

#chartTabs li:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(63, 77, 70);
}

