/* main container */

.container{
  width: 800px;
  height: 600px;
  padding-left: 100px
}


/* chart tabs */
#chartTabs{
  width: 500px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#chartTabs li{
  border: 1px solid blue
}

