/* main container */
.chart-module{
  display: flex;
}
.container{
  width: 70vw;
  height: 90vh;

}
/* chart tabs */
#chartTabs{
  height: 80vh;
  overflow-y: scroll;
  /* width: 70vw; */
  /* display: flex; */
  list-style: none;
  /* justify-content: space-between; */
}

#chartTabs li{
  width: 5vh;
  border: 1px solid rgb(127, 231, 153);
  margin: 2vw;
}

