@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: rgb(43, 43, 43);

}

.instructions-modal-container{
  color: white;
  height: 100vh;
  width: 100vw;
  display: block;
  z-index:1000;
  top:0;
  background-color: rgb(42, 51, 47);

  position:fixed;
}

.instructions-modal{
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(4, 27, 16);
  
  font-family: 'Roboto Condensed', sans-serif;
  /* text-align: center; */
  width: 66%;
  margin-left: 15%;
  margin-top: 2%;
  border-radius: 25px;
  border: 3px solid rgb(6, 82, 6)
  
}

#welcome-logo{
  margin-left: 60vw;
  width: 5vw;
  height: auto;
  /* border: 1px solid white; */
  border-radius: 3px;
  position: absolute;
}

.instructions-modal h1{
  text-align: center;
  font-size: 6vh;
  margin-top: 2%;
}

.subheading{
  text-align: center;
  margin-top:1%;
}

.caption{
  font-size: 3vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.motivation-section{
  padding: 1%;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.instructions-section{
  padding: 1%;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.instructions-section ol{
  list-style-type: decimal;
  list-style-position: inside;
}

.instructions-section ol li{
  line-height: 3vh;
  margin-bottom: 10px;
}
.instructions-modal p{
  margin-top: 1vh;
  line-height: 3vh;
}

#enter-button{
  width: 10%;
  margin-left: 45%;
  margin-top: 2vh;
  height: 4vh;
}

.hide{
  display:none;
}

#logo{
  border: 2px solid white;
  border-radius: 5px;
  margin-left:2vw;
  width: 20vw;
  margin-top: 8vh;
  /* margin-left: 5vw; */
}
#page{
  box-sizing: border-box;
  /* height: 100vh; */
  display:flex;
  /* overflow-y: hidden; */
} 

.form label{
  color: white;
  display: block;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.form input{
  color: black;
  width: 6vw;
}

.form{
  border: 2px solid white;
  margin-top:4vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-left: 2vw;
  padding: 1vh;
  height: 30vh;
  border-radius: 5px;
  background-color: rgb(42, 51, 47);
  
}

.button-container{
  text-align: center;
}

.form input[type="submit"]{
  color: black;
  background-color: white;
  border: 1px solid black;
}

.form input[type="submit"]:hover{
  cursor: pointer
}

.instructions{
  color: black;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 4vh;
  margin-left: 2vw;
  list-style-position: inside;
  border-radius: 5px;
  border: 2px solid black;
  /* list-style-type: decimal; */
}

.instructions li{
  margin-top: 1vh;
}


#chartTabs::-webkit-scrollbar {
  width: .5em;
}
 
#chartTabs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#chartTabs::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}