.loading-modal-container{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 2;
  background-color:rgba(20, 20, 20, 0.377);
  position: fixed;
  top: 0;
  left: 0
}

.loading-modal{

  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  background-color: rgb(192, 221, 191);
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  
}

.loading-modal p{
  text-align: center
}

/* NEWS */

#news-container{
  height: 65%
}
.news-image{
  width: 20%;
  height: auto
}

.news-snippet{
  display: flex;
  justify-content: space-around
}

.news-snippet p{
  width: 25%;
}

#button-container{
  position:relative;
  
}

.modal-close-button{

  display: block;
  margin: 0 auto;
  bottom: 0;
  padding: 5px;
  border-radius: 10px;
  width: 20%;
  border: none;
  /* box-shadow: 0 0 5px #2ba805; */

}

@keyframes glowing{
  0% {
    box-shadow: 0 0 5px #2ba805;
  }

  33% {
    box-shadow: 0 0 10px #49e819;
  }

  66% {
    box-shadow: 0 0 5px #2ba805;
  }

  100% {
    box-shadow: 0 0 5px #2ba805;
  }

}

.modal-close-button{
  animation: glowing 2000ms infinite
}

